#canvas {
    border: 2px dashed #cccccc;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .images-item-upload {
    width: 80%;
    cursor: pointer;
    padding-bottom: 10px;
    
  }